<%- include('../partials/header', {title:"Colleges"}) -%>

<table class="table caption-top">
  <caption>All colleges</caption>
    <tr>
      <th>School</th>
    </tr>

  <% for (college in colleges) { %>

    <tr>
      <td><a href="/colleges/college/<%=colleges[college]["collegeName"]%>"><%=colleges[college]["collegeName"]%></a></td>
    </tr>
<%}%>
</table>

<%- include('../partials/footer') -%>
