<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="30" height="30" alt="">
    </a>
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
        <a class="nav-link" href="/colleges">colleges</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/students/videoChat">videoChat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students/chat">chat</a>
      </li>



    <%if(user){%>
      <%if(permission === "student"){%>
        <li class="nav-item">
          <a class="nav-link" href="/students">College List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students/new">Add college to list</a>
        </li>
      <%}%>

      <% if(permission === "counselor"){%>
        <li class="nav-item">
          <a class="nav-link" href="/counselors">counselor dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/colleges/new">add a college </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/colleges/supplement/new">add supplement</a>
        </li>

      <%}%>

      <% if(permission === "admin"){%>
        <li class="nav-item">
          <a class="nav-link" href="/counselors">counselor dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/colleges/new">add a college </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/colleges/supplement/new">add supplement</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/trackInfo">track info</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/students/videoChat/room">your room</a>
        </li>

      <%}%>

      <small>Logged in as <%=user._json.email%> : <%=permission%> </small>


    <%}%>

    </ul>

  </div>
</nav>
