<%- include('partials/header', {title:"Home page"}) -%>

<h2> Welcome to the official site of the Paper, Rock, Scissors: Tournament of Champions!</h2>
  <br>
  <br>
  <% if(user){ %>
  <a href="/students/<%=user%>">Click to see your college list</a>
  <% } else { %>
  <a href="/login"> Click to login </a>
  <% } %>

  <%- include('partials/footer') -%>
