<%- include('../partials/header', {title:"College List"}) -%>




<table>
  <tr>
    <th>
      School:
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      Application plan:
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      Due Date:
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      Safty/Target/Reach
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      Number of Supplements
    </th>
    <td>

    </td>
  </tr>
</table>

<%- include('../partials/footer') -%>
