<%- include('../partials/header', {title:"College details"}) -%>

<h2>College: </h2>

<!-- <dl>

    <dt>Supplement 1: </dt>
      <dd>- Promt: </dd>
      <dd>- Word Min: </dd>
      <dd>- Word Max: </dd>

    <dt>Supplement 2: </dt>
      <dd>- Promt: </dd>
      <dd>- Word Min: </dd>
      <dd>- Word Max: </dd>

</dl> -->

for (supplement in supplements){
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Supplement #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%=supplements.supplement.wordMin><% to ><%=supplements.supplement.wordMax></h6>
        <p class="card-text"></p>
        <a href="student/:collegeName/:supplements[supplement]" class="card-link">link to supplement</a>
      </div>
    </div>
  </div>
</div>

}

<%- include('../partials/footer') -%>
