<%- include('../partials/header', {title:"Coming Up"}) -%>

<table class="table caption-top">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">School</th>
      <th scope="col">Application Plan</th>
      <th scope="col">Due Date</th>
      <th scope="col">Supplements left</th>
    </tr>
  </thead>
  <td>

    <tr>
      <th scope="row">1</th>
      <td><%collegeName</td>
      <td>ED</td>
      <td>Date</td>
      <td>number left</td>
    </tr>

  </td>
</table>

<%- include('../partials/footer') -%>
