<%- include('../partials/header', {title:"College List"}) -%>


<table>
  <tr>
    <th>
      <% Studentname %>
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>

    </th>
    <td>

    </td>
  </tr>

</table>

<%- include('../partials/footer') -%>
