<%- include('../partials/header', {title:"College details"}) -%>

<dl>
      <dt>- Promt: </dt>
      <dt>- Word Min: </dt>
      <dt>- Word Max: </dt>

</dl>

<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your writing: </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <input type="submit" value="save">
  <input type="submit" value="send to counselor">

</form>

<%- include('../partials/footer') -%>
